
 /* autor: Антон Костюк || https://github.com/Roni238  || ak4932320@gmail.com
    ©  Костюк А.Е. , 2022—2023  */

canvas {
    width: 99%;
    height: 99%;
    position: absolute;
    cursor: crosshair;
}
* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: rgb(6, 6, 24);
    font-family: "Jura", sans-serif;
    scrollbar-width: thin;          
    scrollbar-color: rgb(32,32,32) rgba(32, 32, 32, 0.286);
}

 img{
    width: 100%;
    height: 100%; 
 }
 img,#sch{
    cursor:pointer;
}
.info {
    
    background-color: rgba(32, 32, 32, 0.286);
    color: aliceblue;
    border-radius: 20px;
    position: absolute;
    left: 70%;
    /* right: 20px; */
    margin-right: 20px;
    top: 20px;
    border: 2px solid rgb(32, 32, 32);
    padding: 10px 15px;
    display: none;
}
a {
    text-decoration: none;
    padding-top: 10px;
    color: rgba(29, 104, 254, 0.863);
}
#watch {
    font: small-caps lighter 27px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: left;
    margin: 10px;
    color: #fff;
    border-left: 3px solid #ed1f24;
    padding: 3px;
    position: fixed;
    bottom: 10px;
    left: 10px
}
div.wrap {
    width: 610px;
    margin: 0 auto;
    
    cursor: crosshair;
}
section {
    display: block;
    position: relative;
}
ul.solarsystem {
    position: relative;
    height: 610px;
    list-style: none;
    -webkit-transition: all 0.09s ease-in;
    -moz-transition: all 0.09s ease-in;
    -o-transition: all 0.09s ease-in;
    transition: all 0.09s ease-in;
    overflow: hidden;
}
ul.solarsystem li {
    text-indent: -9999px;
    display: block;
    position: absolute;
    border: 2px  dotted #c1c1c1;
}
ul.solarsystem li span {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
}
ul.solarsystem li.active.sun,
ul.solarsystem li.active span {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    
}
ul.solarsystem li.active.sun span,
ul.solarsystem li.active.earth .moon {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
ul.solarsystem li.sun {
    width: 8%;
    height: 8%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fc3;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.22, rgb(204,153,0)),
        color-stop(1, rgb(255,219,112))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(204,153,0) 22%,
        rgb(255,219,112) 100%
    );
    top: 46%;
    left: 46%;
    border: none;
    -webkit-box-shadow: 0 0 50px #c90;
    -moz-box-shadow: 0 0 50px #c90;
    box-shadow: 0 0 50px #c90;
    z-index: 100;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
ul.solarsystem li.sun span {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;   
}
ul.solarsystem li.mercury {
    width: 16%;
    height: 16%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 42%;
    left: 42%;
    z-index: 99;
    
}
ul.solarsystem li.mercury span {
    background-image: url(/img/pl1.svg);
    top: 0%;
    left: 11%;
    box-shadow:  inset rgb(255 255 255 / 50%) -2px -4px 7px 2px, inset rgb(0 0 0 / 60%) 2px 3px 9px 2px;
    border-radius: 50%;
}
ul.solarsystem li.venus {
    width: 24%;
    height: 24%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top:38%;
    left: 38%;
    z-index: 98;
}
ul.solarsystem li.venus span {
    background-image: url(/img/pl2.svg);
    top: 80%;
    left: 11%;
    box-shadow:  inset rgb(0 0 0 / 30%) 2px 3px 9px 2px;
    border-radius: 50%;
}
ul.solarsystem li.earth {
    width: 32%;
    height: 32%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 34%;
    left: 34%;
    z-index: 97;
}
ul.solarsystem li.earth span {
    background-image: url(/img/pl3.svg);
    top: 2%;
    left: 19%;
    box-shadow:  inset rgb(0 0 0 / 30%) 2px 3px 9px 2px;
    border-radius: 50%;
}
ul.solarsystem li.earth span.moon {
    width: 6px;
    height: 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 3px;
    background: #ccc;
    top: 22px;
    left: 12px;
}
ul.solarsystem li.mars {
    width: 40%;
    height: 40%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 30%;
    left: 30%;
    z-index: 96;
}
ul.solarsystem li.mars span {
    background-image: url(/img/pl4.svg);
    top: 0%;
    left: 65%;
    box-shadow:  inset rgb(0 0 0 / 30%) 2px 3px 9px 2px;
    border-radius: 50%;
}
ul.solarsystem li.jupiter {
    
    width: 48%;
    height: 48%;
    -webkit-border-radius:50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 26%;
    left: 26%;
    z-index: 95;
    
}
ul.solarsystem li.jupiter span {
    background-image: url(/img/pl5.svg);
    top: -2%;
    left: 33%;
    box-shadow:  inset rgb(0 0 0 / 30%) 2px 3px 9px 2px;
    border-radius: 50%;
}
ul.solarsystem li.saturn {
    width: 56%;
    height: 56%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 22%;
    left: 22%;
    z-index: 94;
}
ul.solarsystem li.saturn span {
    background-image: url(/img/pl6.svg);
    top: 18%;
    left: 88%;
    transform: rotate(140deg);
    box-shadow:  inset rgb(0 0 0 / 30%) 2px 3px 9px 2px;
    border-radius: 50%;
}

ul.solarsystem li.uranus {
    width: 64%;
    height: 64%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius:50%;
    top: 18%;
    left: 18%;
    z-index: 93;
}
ul.solarsystem li.uranus span {
    background-image: url(/img/pl7.svg);
    top: 7%;
    left: 77%;
    box-shadow:  inset rgb(0 0 0 / 30%) 2px 3px 9px 2px;
    border-radius: 50%;
}
ul.solarsystem li.neptune {
    width: 72%;
    height: 72%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 14%;
    left: 14%;
    z-index: 92;
}
ul.solarsystem li.neptune span {
    background-image: url(/img/pl8.svg);
    top: -2%;
    left: 43%;
    box-shadow:  inset rgb(0 0 0 / 30%) 2px 3px 9px 2px;
    border-radius: 50%;
}
ul.solarsystem li.pluto span {
    background-image: url(/img/pl9.svg);
    top: 10%;
    left: 16%;
    box-shadow:  inset rgb(0 0 0 / 30%) 2px 3px 9px 2px;
    border-radius: 50%;
}

ul.solarsystem li.pluto {
    width: 80%;
    height: 80%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    z-index: 91;
}


#descriptions {
    border-left:solid #ed1f24 3px ;
    padding: 2px;
    position: absolute;
    top: 10px;
    left: 10px;
    list-style: none;
    margin: 10px;
}
#descriptions h2 {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.863);
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    font-size: 26px;
    position: relative;
    z-index: 101;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
#descriptions h2:hover {
   color: rgba(29, 104, 254, 0.863); 
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
}
ul.solarsystem li {
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:orbit;
    
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -moz-animation-name:orbit;
}
ul.solarsystem li.earth span {
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:moon;
    
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -moz-animation-name:moon;
}
ul.solarsystem li.mercury {-webkit-animation-duration:9s; -moz-animation-duration:9s;}
ul.solarsystem li.venus {-webkit-animation-duration:12s; -moz-animation-duration:12s;}
ul.solarsystem li.earth {-webkit-animation-duration:16s; -moz-animation-duration:16s;}
ul.solarsystem li.earth span {-webkit-animation-duration:4s; -moz-animation-duration:4s;}
ul.solarsystem li.mars {-webkit-animation-duration:20s; -moz-animation-duration:20s;}
ul.solarsystem li.asteroids_meteorids {-webkit-animation-duration:50s; -moz-animation-duration:50s;}
ul.solarsystem li.jupiter {-webkit-animation-duration:30s; -moz-animation-duration:30s;}
ul.solarsystem li.saturn {-webkit-animation-duration:60s; -moz-animation-duration:60s;}
ul.solarsystem li.uranus {-webkit-animation-duration:70s; -moz-animation-duration:70s;}
ul.solarsystem li.neptune {-webkit-animation-duration:100s; -moz-animation-duration:100s;}
ul.solarsystem li.pluto {-webkit-animation-duration:120s; -moz-animation-duration:120s;}

@-webkit-keyframes orbit { from { -webkit-transform:rotate(0deg) } to { -webkit-transform:rotate(360deg) } }
@-webkit-keyframes moon { from { -webkit-transform:rotate(0deg) } to { -webkit-transform:rotate(360deg) } }

@-moz-keyframes orbit { from { -moz-transform:rotate(0deg) } to { -moz-transform:rotate(360deg) } }
@-moz-keyframes moon { from { -moz-transform:rotate(0deg) } to { -moz-transform:rotate(360deg) } }




.astro{
    height: 48.6%;
    width: 48.6%;
    position: absolute;
    top:26%;
    left: 26%;
    -webkit-animation-duration: 27s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: orbit;
}

span {
    cursor: pointer;
}
@media screen and (min-width: 1500px) {
    div.wrap {
       width: 915px;
    }
    ul.solarsystem{
        height: 915px;
    }
    ul.solarsystem li.mercury span{
        top:4%;
    }
    ul.solarsystem li.venus span{
        top: 9%;
    }
    ul.solarsystem li.earth span{
        top: 5%;
    }
    ul.solarsystem li.jupiter span{
        top:0%;
    }
    ul.solarsystem li.pluto span{
        top: 12%;
        left: 15%;
    }
    .info{
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 1900px) {
    div.wrap {
           width: 1220px;
        }
    ul.solarsystem{
            height: 1220px;
        }
    ul.solarsystem li.mercury span{
            top:8%;
        }
    ul.solarsystem li.venus span{
            top: 82%;
        }
    ul.solarsystem li.earth span{
            top: 6%;
        }
    ul.solarsystem li.neptune span{
            top:-1%;
            left: 38%;
        }
    ul.solarsystem li.pluto span{
            top: 12%;  
        }
    div#watch{
        font-size: 2rem;
    }
    ul.solarsystem li span{
        width: 30px;
        height: 30px;
    }
    .info{
        font-size: 1.7rem;
    }
}
.exit{
    display: none;
}
@media screen and (max-width: 700px){
    .info{
        left: 0%;
        margin: 5px;
        background-color: rgb(0, 0, 0);
        z-index: 10000;
    }
    .exit{
    display: block;
    margin-left: 97%;
    border-bottom: rgb(32, 32, 32) solid 3px;
    border-left: rgb(32, 32, 32) solid 3px;
}
body{
    overflow-x: hidden;
}
}




body::-webkit-scrollbar {
    width: 10px;      
    opacity: 0.5;         
  }
  body::-webkit-scrollbar-track {
    background: rgba(32, 32, 32, 0.286);       
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(32, 32, 32);    
    border-radius: 20px;       
    
  }

